 <%
     renderer = Redcarpet::Render::HTML.new(hard_wrap: true)
 markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="small-2 columns">
        <h1><%= assignment_question.question_number %></h1>
      </div>
      <div class="small-8 columns">
      <p><%= markdown.render(assignment_question.question).html_safe%></p>
    </div>
    <div class="small-2 columns">
      <div class="row">
        <h5><a href="#" data-reveal-id="help-<%=assignment_question.question_number%>">Help</a></h5>

        <div id="help-<%= assignment_question.question_number%>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle"><%= assignment_question.question_number%> Help</h2>
          <p><%= markdown.render(assignment_question.help.to_s).html_safe %></p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
      </div>
      <hr>
      <div class="row">
        <h5>Weight: <%= assignment_question.weight.to_s%></h5>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>


