<h1>Assignments</h1>
<ul class="accordion" data-accordion>
<% @assignments.each do |assignment| %>
    <li class="accordion-navigation">
    <a href="#panel-<%=assignment.name-%>"><%=assignment.name-%> | Due: <%= assignment.due.to_s%></a>
    <div id="panel-<%= assignment.name-%>" class="content">
      <div class="row">
        <div class="small-10 columns"><%= assignment.base_info -%></div>
        <div class="small-2 columns"><%= link_to "Details", assignment_path(assignment)%></div>
      </div>
      </div>
    </li>
  <%end%>
</ul>
