<%= simple_form_for(@course_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :instructor %>
    <%= f.input :office %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
