<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course_detail.instructor %>
</p>

<p>
  <strong>Office:</strong>
  <%= @course_detail.office %>
</p>

<%= link_to 'Edit', edit_course_detail_path(@course_detail) %> |
<%= link_to 'Back', course_details_path %>
