<p id="notice"><%= notice %></p>

 <div class="row">
        <div class="large-12 columns">
		  <h1><%= @course.code %></h1>
		  <h5><%= @course.description %></h5>
          <hr>
        </div>
  </div>
       
     
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-6 columns">
            <h4>Announcements</h4><hr>

            <%= render_notes.html_safe %>
      </div>
      <div class="large-4 small-6 columns">
            <h4>Assignments</h4><hr>

            <%= render_assignments.html_safe %>
      </div>

      <div class="large-4 small-6 columns">
            <h4>Lectures</h4><hr>

            <%= render_notes.html_safe %>
      </div>
	</div>
</div>     

  <hr>

